
matplotlib
pycocotools
shapely
six
terminaltables
cityscapesscripts
imagecorruptions
cython
scikit-learn
scipy
pillow
setproctitle
seaborn
numpy<2.0
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
pytorch-cuda=11.6
mmcv==2.0.1
mmengine
mmdet==3.x
